In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Karratha,AU,2022-09-17 01:16:41,-20.7377,116.8463,79.34,22,8,19.06
1,1,Cidreira,BR,2022-09-17 01:16:41,-30.1811,-50.2056,60.66,81,0,13.51
2,2,Pisco,PE,2022-09-17 01:16:41,-13.7000,-76.2167,59.05,88,20,9.22
3,3,Baherden,TM,2022-09-17 01:16:42,38.4362,57.4316,69.03,34,80,1.43
4,4,Taoudenni,ML,2022-09-17 01:16:42,22.6783,-3.9836,91.56,17,0,8.50

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of cloudiness
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of Wind Speed
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Karratha,AU,2022-09-17 01:16:41,-20.7377,116.8463,79.34,22,8,19.06
7,7,Yaring,TH,2022-09-17 01:16:43,6.8662,101.3689,80.89,76,73,8.95
10,10,Atuona,PF,2022-09-17 01:16:44,-9.8000,-139.0333,76.69,70,17,18.86
13,13,North Myrtle Beach,US,2022-09-17 01:14:55,33.8160,-78.6800,76.06,85,0,0.00
14,14,Tavares,US,2022-09-17 01:16:14,28.8042,-81.7256,75.99,93,20,8.05
16,16,Banda Aceh,ID,2022-09-17 01:16:46,5.5577,95.3222,81.01,75,100,12.68
21,21,Bandarbeyla,SO,2022-09-17 01:16:47,9.4942,50.8122,78.22,76,34,22.82
22,22,Waxahachie,US,2022-09-17 01:16:47,32.3865,-96.8483,86.32,60,0,0.00
27,27,The Valley,AI,2022-09-17 01:16:49,18.2170,-63.0578,83.10,79,64,31.12
29,29,Vaini,TO,2022-09-17 01:16:49,-21.2000,-175.2000,78.96,83,40,8.05

In [13]:
preferred_cities_df.count()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
0             Karratha      AU     79.34 -20.7377  116.8463
7               Yaring      TH     80.89   6.8662  101.3689
10              Atuona      PF     76.69  -9.8000 -139.0333
13  North Myrtle Beach      US     76.06  33.8160  -78.6800
14             Tavares      US     75.99  28.8042  -81.7256
16          Banda Aceh      ID     81.01   5.5577   95.3222
21         Bandarbeyla      SO     78.22   9.4942   50.8122
22          Waxahachie      US     86.32  32.3865  -96.8483
27          The Valley      AI     83.10  18.2170  -63.0578
29               Vaini      TO     78.96 -21.2000 -175.2000

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Karratha,AU,79.34,-20.7377,116.8463,ibis Styles Karratha
7,Yaring,TH,80.89,6.8662,101.3689,สถานที่จัดงานแต่ง SOFEE & DORN
10,Atuona,PF,76.69,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
13,North Myrtle Beach,US,76.06,33.8160,-78.6800,Avista Resort
14,Tavares,US,75.99,28.8042,-81.7256,Holiday Inn Express & Suites Tavares - Leesbur...
...,...,...,...,...,...,...
562,Jackson,US,79.16,42.4165,-122.8345,Agate Village Apartments
566,Camocim,BR,77.59,-2.9022,-40.8411,Ilha Praia Hotel
567,Moranbah,AU,82.69,-22.0016,148.0466,Property Vine - Monterey Moranbah
569,Biak,ID,80.44,-0.9131,122.8766,Penginapan Kim
572,Chizhou,CN,80.08,30.6578,117.4831,Home Inn Chizhou Qiupu West Road Xiushanmen Sq...

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))